<html xmlns = "http://www.w3.org/1999/xhtml" xml:lang="en"
   lang="en">
   <head><title>Registration results</title>
   <link href="media/style.css" rel="stylesheet" type="text/css" />
   </head>
      <body><div id="header-wrap">
    <div id="header">
      <div class="wrap">
        <div class="branding">
          <h1 id="blog-title" class="blogtitle"><a href="/" title="UPEI APP 11">UPEI App
          11</a></h1>
        </div><!-- .branding -->
      </div><!-- .wrap -->
    </div><!--  #header -->
  </div>
   
   <div id="wrapper">
    <div class="clear"></div>
<div id="wrapper">
    <div class="clear"></div>
    <div class="sidebar-left">
	<ul class="xoxo">
    <p class="text-side"><a href="/">Home</a><br /><br />
    <a href="/all">List all entries</a><br /><br />
    <a href="/os/{{ osys }}">Others in {{ osys }} OS mailing list</a><br /><br />
    <a href="/book/{{ pref_book }}">Others in {{ pref_book }} book mailing list</a>
    </p>
    </ul>
</div>

    <div id="container">
      <div id="content">
        <div id="post-0">
          <div class="hentry">
            <h2 class="entry-title">Thanks!</h2>

            <div class="entry-content">
            
      Hi <span style = "color: blue; font-weight: bold">
      {{ fname }}</span>.
      Thank you for completing the survey.<br />
      You have been added to the <span style = "color: blue;
      font-weight: bold">{{ pref_book }} </span> mailing list.<br /><br />

      <span style = "font-weight: bold">
      The following information has been saved in our database:
      </span><br />

      <table style = "border: 0; border-width: 0;
         border-spacing: 10">
      <tr><td style = "background-color: yellow">Name </td>
          <td style = "background-color: yellow">Email</td>
          <td style = "background-color: yellow">Phone</td>
          <td style = "background-color: yellow">OS</td></tr>

      <tr><td>{{ fname }} {{ lname }}</td><td>{{ email }}</td>
          <td>{{ phone }}</td><td>{{ osys }}</td></tr>
      </table>

      <br /><br />     
      
      </span><br />

      </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">Powered by Django</div></body></html>
